// app global css in SCSS form
@import "quasar.variables";

// ============================================================================
// Default button color
// ============================================================================

.text-button {
  color: $light-button !important;
}

.body--dark .text-button {
  color: $dark-button !important;
}

.bg-button {
  background-color: $light-button !important;
}

.body--dark .bg-button {
  background-color: $dark-button !important;
}
// ============================================================================
// Secondary button color
// ============================================================================

.text-sbutton {
  color: $light-text-normal !important;
}

.body--dark .text-sbutton {
  color: $dark-text-normal !important;
}

.bg-sbutton {
  background-color: $light-text-normal !important;
}

.body--dark .bg-sbutton {
  background-color: $dark-text-normal !important;
}

// ============================================================================
// Social media button color
// ============================================================================

.text-smb {
  color: $light-text-normal !important;
}

.body--dark .text-smb {
  color: $dark-text-normal !important;
}

.bg-smb {
  background-color: $light-text-normal !important;
}

.body--dark .bg-smb {
  background-color: $dark-text-normal !important;
}

// ============================================================================
// Tool button color
// ============================================================================

.text-toolbutton {
  color: $light-button !important;
}

.body--dark .text-toolbutton {
  color: $dark-button !important;
}

.bg-toolbutton {
  background-color: $light-button !important;
}

.body--dark .bg-toolbutton {
  background-color: $dark-button !important;
}

// ============================================================================
// Application wide default style properties
// ============================================================================

body {
  background-color: $light-background-body;
  color: $light-text-normal;
}

body.body--dark {
  background-color: $dark-background-body;
  color: $dark-text-normal;
}


.q-dark {
  color: $dark-text-normal;
}

// ============================================================================
// Menu
// ============================================================================

.q-menu {
  border: 1px solid $light-frame;
  box-shadow: 4px 4px 8px 0 $shadow;
  background-color: $light-background-frame;
  color: $light-text-normal;
}

.body--dark .q-menu {
  border: 1px solid $dark-frame;
  background-color: $dark-background-frame;
  color: $dark-text-normal;
}

// ============================================================================
// Separator
// ============================================================================

.q-separator {
  background-color: $light-frame;
}

.body--dark .q-separator {
  background-color: $dark-frame;
}

// ============================================================================
// Tabs
// ============================================================================

.q-tab-panels {
  background-color: transparent;
}

.q-tab-panel {
  padding: 16px 0;
}

// ============================================================================
// Fields
// ============================================================================

.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

.q-field__native {
  letter-spacing: 0;
}

// ============================================================================
// Table
// ============================================================================

.q-table {
  border-collapse: collapse;
  color: $light-text-normal;
}

.body--dark .q-table {
  color: $dark-text-normal;
}

.q-table thead, .q-table tr, .q-table th, .q-table td {
  border-color: $light-text-header;
}

.q-table__container {
  background-color: transparent;
}

.q-table tr td {
  border-color: $light-frame;
}

.q-table--dark tr td {
  border-color: $dark-frame;
}

// ============================================================================
// Inline Editor
// ============================================================================

div.q-menu.q-position-engine.scroll.q-popup-edit {
  background-color: $light-background-frame;
  border: 0;
  box-shadow: 0 0;
  padding: 0 0;
  font-size: 13px;
}

.body--dark div.q-menu.q-position-engine.scroll.q-popup-edit {
  background-color: $dark-background-frame;
}

// ============================================================================
// Footer
// ============================================================================

.footer {
  background-color: $light-background-body;
  padding: 4px;
}

.body--dark .footer {
  background-color: $dark-background-body;
}

.footer-hint {
  color: $light-text-hint;
  font-size: 9pt;
  padding: 0 16px;
}

.body--dark .footer-hint {
  color: $dark-text-hint;
}
